<%= link_to job.position, job.url %> - <%= link_to "Edit", edit_job_path(job) %><br />
<b><%= job.company %> - <%= job.town %></b><br />
<p><span class="date"><%= job.date_posted.to_s(:long) %></span> - <%= job.description %></p>
	



