<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @job.position %>
</p>

<p>
  <b>Url:</b>
  <%= @job.url %>
</p>

<p>
  <b>Company:</b>
  <%= @job.company %>
</p>

<p>
  <b>Town:</b>
  <%= @job.town %>
</p>

<p>
  <b>Date posted:</b>
  <%= @job.date_posted %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
